*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

 /* SEZIONE DI SFONDO */

div.bg{
    position: relative;
}

div.top{
    background-color: #009688;
    width: 100%;
    height: 20vh;
}

div.grey-background{
    background-color: #d8dbd5;
    width: 100%;
    height: 80vh;
}

/* SEZIONE DIV#APP */

div#app{
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 95vh;
    display: flex;
}


/* SEZIONE ASIDE */

aside{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

section.my-profile,
header{
    background-color: #eaeaea;
    width: 100%;
    height: 60px;
    padding: .5rem;
}

section.my-profile{
    border-right: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.my-profile-container{
    display: flex;
    align-items: center;
}

div.propic{
    width: 45px;
    height: 45px;
    margin-right: .4rem;
}

img.propic-format{
    width: 100%;
    border-radius: 50%;
}

div.my-profile-options>i{
    margin-right: 1rem;
    color: #b1b1b1;
    font-size: 1.2rem;
}



section.app-notification{
    background-color: #8edafc;
    height: 65px;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
}

div.bell-icon{
    width: 40px;
    height: 40px;
    background-color: white;
    color: #8edafc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .4rem;
}

p{
    font-size: .8rem;
}

p.grey-font{
    font-size: .6rem;
    color: #627375;
    text-decoration: underline;
    margin-top: .2rem;
}


/* SECTION SEARCHBAR */


section.searchbar{
    padding: .4rem;
    background-color: #f9f9f9;
    color: #b7b7b9;
}

section.searchbar>div.searchbar-container{
    background-color: white;
    border: 1px solid #e3e3e7;
    display: flex;
}

section.searchbar button{
    padding: .4rem;
    margin-left: .2rem;
    background-color: transparent;
    border: 1px solid transparent;
    color: #cbcbcd;
}

section.searchbar input{
    padding: .5rem;
    border: 1px solid transparent;
    color: #797979;
    flex-grow: 1;
}



/* SECTION CONTACTS */

section.contacts ul>li{
    height: 65px;
    display: flex;
    align-items: start;
    padding: .8rem 1rem;
    justify-content: space-between;
}

li.active-contact{
    background-color: #e9ebeb;       
}

div.contact-propic{
    width: 50px;
    height: 50px;
    margin-right: .8rem;
}

div.contact-chat-info{
    flex-grow: 1;
}

p.contact-name{
    font-size: .9rem;
    margin-bottom: .2rem;
}
p.contact-last-msg{
    color: #babec2;
}

p.msg-time{
    font-size: .5rem;
    color: #babec2;
}



/* SEZIONE MAIN-CONTENT */


div.main-content{
    width: 70%;
    height: 100%;
}



main{
    width: 100%;
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
    overflow-y: scroll;
}

/* SECTION HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.chat-friend{
    display: flex;
    align-items: center;
}

div.active-chat-propic{
    width: 45px;
    height: 45px;
    margin-right: .4rem;
}

div.active-chat-info>p{
    margin-bottom: .1rem;
}

div.active-chat-info>p.last-login{
    font-size: .7rem;
    color: #627375;
}

div.chat-options>i{
    margin-right: 1rem;
    color: #b1b1b1;
    font-size: 1.2rem;
}



/* SECTION MAIN  */

div.chat-area {
    display: flex;
    flex-direction: column;
    padding: 4rem 5rem;
}

.chat-area>article{
    padding: 1.1rem .9rem;
    font-size: .85rem;
    width: 40%;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

article.sent{
    background-color: #d5f9ba;
    align-self: self-end;
}

article.received{
    background-color: #ffffff;
    align-self: self-start;
}









footer{
    width: 100%;
    height: 60px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.emoji,
div.mic{
    padding: 2rem;
}

footer i{
    color: #6b7376;
    font-size: 1.2rem;
}

footer input{
    border-color: transparent;
}

div.my-message{
    flex-grow: 1;
}

div.my-message>input{
    width: 100%;
    padding: .6rem;
}

