<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Fontawesome 6.5.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzapp</title>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
</head>
<body>
    <div class="bg">
        <div class="top"></div>
        <div class="grey-background"></div>
    </div>
    
    <div id="app" class="lato-regular">
        <aside>
            <section class="my-profile">
                
                <div class="my-profile-container">
                    <div class="propic">
                        <img src="img/avatar_io.jpg" alt="foto mia" class="propic-format">
                    </div>
                    <div>
                        <p>Sofia</p>
                    </div>
                </div>

                <div class="my-profile-options">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </section>

            <section class="app-notification">
                
                    <div class="bell-icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="ad-info">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <p class="grey-font">Attiva notifiche desktop</p>
                    </div>
            </section>

            <section class="searchbar">
                <div class="searchbar-container">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="nameToSearch">
                </div>
                
            </section>

            <section class="contacts">
                <nav>
                    <ul>
                        <li v-for="(contact, index) in contactsCopy" :key="index" @click="activeChatSelected(index)" v-show="searchContact(contact, contactsCopy)">
                            <div class="contact-propic">
                                <img :src="contact.avatar" alt="avatar" class="propic-format">
                            </div>
                            <div class="contact-chat-info">
                                <p class="contact-name">
                                    {{ contact.name }}
                                </p>
                                <p class="contact-last-msg">Ultimo messaggio inviato</p>
                            </div>
                            <div class="time">
                                <p class="msg-time">
                                    12:00
                                </p>
                            </div>

                        </li>
                    </ul>
                </nav>
            </section>


        </aside>



        <div class="main-content">
            <header>
                <div class="chat-friend">
                    <div class="active-chat-propic">
                        <img :src="contacts[activeChatIndex].avatar" alt="propic contatto" class="propic-format">
                    </div>
                    <div class="active-chat-info">
                        <p>{{ contacts[activeChatIndex].name }}</p>
                        <p class="last-login">Ultimo accesso oggi alle 12:00</p>
                    </div>
                </div>

                <div class="chat-options">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>
            <main>
                <div class="chat-area">
                    <article v-for="(message, index) in contacts[activeChatIndex].messages" :class="message.status">
                        <div class="active-message">
                            <p class="message">{{ message.message }}</p>
                            <p class="message-time">{{ formatTime(message.date) }}</p>
                        </div>

                    </article>
                </div>
            </main>

            <footer>
                <div class="emoji">
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                <div class="my-message">
                    <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="newMessageInChat" v-model="newMessage">
                </div>
                <div class="mic">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </footer>
        </div>
        
    </div>

    <script src="js/script.js"></script>
</body>
</html>